In [1]:
print("Hello World")

Hello World

In [2]:
def my_function():
    print("Hello World")

my_function()

Hello World

In [5]:
def my_function(fname):
    print(fname + " " + "Deus")

my_function("Denis")
my_function("Stella")
my_function("Winfrida")

Denis Deus
Stella Deus
Winfrida Deus

In [7]:
def my_function(country = "Tanzania"):
    print("I am from" + " " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Tanzania
I am from Brazil

In [8]:
def my_function(food):
    for x in food:
        print(x)

fruits = ['apple', 'banana', 'cherry']

my_function(fruits)

apple
banana
cherry

In [10]:
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))

15
25

In [12]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child1)

my_function(child1 = 'Emil', child2 = 'John', child3 = 'Derick')

The youngest child is Emil

In [13]:
def my_function(*kids):
    print("The youngest child is " + kids[1])

my_function('Emil', 'John', 'Derick')

The youngest child is John

In [14]:
def tri_recursion(k):
    if (k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")

tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [15]:
x = lambda a : a + 10
print(x(5))

15

In [17]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [18]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [19]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(3)

print(mydoubler(7))

21