In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    passwd = "@denis_13#",
    database = "mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Abby', 'Goba', 9)
('Alinamaka', 'Hall 2', 12)
('Ally', 'Hall 5', 13)
('Denis', 'Highway 21', 1)
('Denis', 'Mbagala', 2)
('Eldon', 'Msewe', 4)
('Emmanuel', 'Tegeta', 6)
('Grace', 'Changanyikeni', 3)
('Greyson', 'Boko', 7)
('Juma', 'Golani', 5)
('Mganga', 'Chanika', 11)
('Sara', 'Makongo', 8)
('Stella', 'Highway 14', 14)
('Veronica', 'Wazo', 10)