In [1]:
import pandas as pd

In [2]:
student_df = pd.DataFrame({
    'roll_no' : [102, 101, 104, 103, 105],
    'name' : ['Stella', 'Denis', 'Winfrida', 'Deus', 'Suzana'],
    'grade' : ['B', 'A', 'B', 'C', 'C'],
    'marks' : [15, 25, 15, 9, 8],
    'city' : ['Mtwara', 'Ubungo', 'Pwani', 'Temeke', 'Kigamboni']
})

student_df

   roll_no      name grade  marks       city
0      102    Stella     B     15     Mtwara
1      101     Denis     A     25     Ubungo
2      104  Winfrida     B     15      Pwani
3      103      Deus     C      9     Temeke
4      105    Suzana     C      8  Kigamboni

In [5]:
city_state_mapping = pd.DataFrame({
    'city' : ['Mtwara', 'Ubungo', 'Pwani', 'Temeke', 'Kigamboni'],
    'state' : ['Masasi', 'Msewe', 'Chalinze', 'Mbagala', 'Cheza']
})

city_state_mapping

        city     state
0     Mtwara    Masasi
1     Ubungo     Msewe
2      Pwani  Chalinze
3     Temeke   Mbagala
4  Kigamboni     Cheza

In [6]:
student_df.merge(city_state_mapping, how='left', on='city')

   roll_no      name grade  marks       city     state
0      102    Stella     B     15     Mtwara    Masasi
1      101     Denis     A     25     Ubungo     Msewe
2      104  Winfrida     B     15      Pwani  Chalinze
3      103      Deus     C      9     Temeke   Mbagala
4      105    Suzana     C      8  Kigamboni     Cheza

In [7]:
roll_no = pd.DataFrame({
    'roll_no' : [102, 103]
})

roll_no

   roll_no
0      102
1      103

In [8]:
student_df.merge(roll_no, how='right', on='roll_no')

   roll_no    name grade  marks    city
0      102  Stella     B     15  Mtwara
1      103    Deus     C      9  Temeke

In [9]:
student_selection = pd.DataFrame({
    'roll_no' : [102, 105, 101],
    'company' : ['TLS', 'URAFIKI', 'AIRTEL'],
    'package(lpa)' : [8, 11, 14.5]
})

student_selection

   roll_no  company  package(lpa)
0      102      TLS           8.0
1      105  URAFIKI          11.0
2      101   AIRTEL          14.5

In [10]:
student_df

   roll_no      name grade  marks       city
0      102    Stella     B     15     Mtwara
1      101     Denis     A     25     Ubungo
2      104  Winfrida     B     15      Pwani
3      103      Deus     C      9     Temeke
4      105    Suzana     C      8  Kigamboni

In [11]:
student_df.merge(student_selection, how='outer')

   roll_no      name grade  marks       city  company  package(lpa)
0      101     Denis     A     25     Ubungo   AIRTEL          14.5
1      102    Stella     B     15     Mtwara      TLS           8.0
2      103      Deus     C      9     Temeke      NaN           NaN
3      104  Winfrida     B     15      Pwani      NaN           NaN
4      105    Suzana     C      8  Kigamboni  URAFIKI          11.0

In [12]:
previous_data = pd.read_csv('datasets/outlet_size_concatenated_data.csv')

In [13]:
previous_data.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Type,Item_Outlet_Sales
0,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,Supermarket Type1,2187.1530
1,FDS46,17.600,Regular,0.047257,Snack Foods,119.6782,OUT046,Supermarket Type1,2145.2076
2,FDP49,9.000,Regular,0.069089,Breakfast,56.3614,OUT046,Supermarket Type1,1547.3192
3,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,Supermarket Type1,2748.4224
4,NCB30,14.600,Low Fat,0.025698,Household,196.5084,OUT035,Supermarket Type1,1587.2672
5,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,Grocery Store,214.3876
6,FDR28,13.850,Regular,0.025896,Frozen Foods,165.0210,OUT046,Supermarket Type1,4078.0250
7,FDV10,7.645,Regular,0.066693,Snack Foods,42.3112,OUT035,Supermarket Type1,1065.2800
8,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,Grocery Store,125.8362
9,DRH01,17.500,Low Fat,0.097904,Soft Drinks,174.8738,OUT046,Supermarket Type1,2085.2856

In [14]:
outlet_data = pd.read_csv('datasets/outlet_data.csv')

In [15]:
outlet_data.head(10)

,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type
0,OUT013,1987,High,Tier 3
1,OUT018,2009,Medium,Tier 3
2,OUT019,1985,Small,Tier 1
3,OUT027,1985,Medium,Tier 3
4,OUT035,2004,Small,Tier 2
5,OUT046,1997,Small,Tier 1
6,OUT049,1999,Medium,Tier 1

In [16]:
combined_data = previous_data.merge(outlet_data, how='left', on='Outlet_Identifier')

In [17]:
combined_data.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Type,Item_Outlet_Sales,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type
0,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,Supermarket Type1,2187.1530,1997,Small,Tier 1
1,FDS46,17.600,Regular,0.047257,Snack Foods,119.6782,OUT046,Supermarket Type1,2145.2076,1997,Small,Tier 1
2,FDP49,9.000,Regular,0.069089,Breakfast,56.3614,OUT046,Supermarket Type1,1547.3192,1997,Small,Tier 1
3,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,Supermarket Type1,2748.4224,2004,Small,Tier 2
4,NCB30,14.600,Low Fat,0.025698,Household,196.5084,OUT035,Supermarket Type1,1587.2672,2004,Small,Tier 2
5,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,Grocery Store,214.3876,1985,Small,Tier 1
6,FDR28,13.850,Regular,0.025896,Frozen Foods,165.0210,OUT046,Supermarket Type1,4078.0250,1997,Small,Tier 1
7,FDV10,7.645,Regular,0.066693,Snack Foods,42.3112,OUT035,Supermarket Type1,1065.2800,2004,Small,Tier 2
8,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,Grocery Store,125.8362,1985,Small,Tier 1
9,DRH01,17.500,Low Fat,0.097904,Soft Drinks,174.8738,OUT046,Supermarket Type1,2085.2856,1997,Small,Tier 1

In [18]:
combined_data.shape

(6113, 12)

In [20]:
item_data = pd.read_csv('datasets/item_idenifier.csv')

In [21]:
item_data.head()

  Item_Identifier
0           DRI51
1           FDL48
2           FDL38
3           FDF17
4           FDN56

In [22]:
item_data.shape

(100, 1)

In [23]:
item_details = combined_data.merge(item_data, how='right', on='Item_Identifier')

In [24]:
item_details

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Type,Item_Outlet_Sales,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type
0,DRI51,17.25,Low Fat,0.042234,Dairy,173.3764,OUT035,Supermarket Type1,2061.3168,2004,Small,Tier 2
1,DRI51,17.25,Low Fat,0.042414,Dairy,173.1764,OUT018,Supermarket Type2,4466.1864,2009,Medium,Tier 3
2,DRI51,NaN,Low Fat,0.042037,Dairy,172.6764,OUT027,Supermarket Type3,6183.9504,1985,Medium,Tier 3
3,FDL48,19.35,Regular,0.082251,Baking Goods,48.7034,OUT035,Supermarket Type1,534.6374,2004,Small,Tier 2
4,FDL48,19.35,Regular,0.082266,Baking Goods,48.8034,OUT046,Supermarket Type1,340.2238,1997,Small,Tier 1
...,...,...,...,...,...,...,...,...,...,...,...,...
417,FDD57,18.10,LF,0.022381,Fruits and Vegetables,93.6094,OUT013,Supermarket Type1,476.0470,1987,High,Tier 3
418,FDG41,8.84,Regular,0.076548,Frozen Foods,109.5228,OUT035,Supermarket Type1,1657.8420,2004,Small,Tier 2
419,FDG41,8.84,Regular,0.076681,Frozen Foods,110.7228,OUT049,Supermarket Type1,1657.8420,1999,Medium,Tier 1
420,FDG41,8.84,Regular,0.076874,Frozen Foods,109.9228,OUT018,Supermarket Type2,1547.3192,2009,Medium,Tier 3
421,NCM42,6.13,Low Fat,0.028366,Household,110.0912,OUT049,Supermarket Type1,1637.8680,1999,Medium,Tier 1