In [1]:
import pandas as pd

In [10]:
outlet_size_small = pd.read_csv('datasets/outlet_size_small.csv')
outlet_size_medium = pd.read_csv('datasets/outlet_size_medium.csv')
outlet_size_large = pd.read_csv('datasets/outlet_size_high.csv')

In [11]:
outlet_size_small.shape, outlet_size_medium.shape, outlet_size_large.shape

((2388, 9), (2793, 9), (932, 9))

In [7]:
outlet_size_small.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Type,Item_Outlet_Sales
0,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,Supermarket Type1,2187.1530
1,FDS46,17.600,Regular,0.047257,Snack Foods,119.6782,OUT046,Supermarket Type1,2145.2076
2,FDP49,9.000,Regular,0.069089,Breakfast,56.3614,OUT046,Supermarket Type1,1547.3192
3,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,Supermarket Type1,2748.4224
4,NCB30,14.600,Low Fat,0.025698,Household,196.5084,OUT035,Supermarket Type1,1587.2672
5,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,Grocery Store,214.3876
6,FDR28,13.850,Regular,0.025896,Frozen Foods,165.0210,OUT046,Supermarket Type1,4078.0250
7,FDV10,7.645,Regular,0.066693,Snack Foods,42.3112,OUT035,Supermarket Type1,1065.2800
8,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,Grocery Store,125.8362
9,DRH01,17.500,Low Fat,0.097904,Soft Drinks,174.8738,OUT046,Supermarket Type1,2085.2856

In [8]:
outlet_size_medium.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,Supermarket Type1,2097.2700
3,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,Supermarket Type2,556.6088
4,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,Supermarket Type3,4022.7636
5,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,Supermarket Type1,1516.0266
6,FDX32,15.100,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,Supermarket Type1,1589.2646
7,NCB42,11.800,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,Supermarket Type2,1621.8888
8,FDP49,9.000,Regular,0.069196,Breakfast,54.3614,OUT049,Supermarket Type1,718.3982
9,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,Supermarket Type3,2303.6680

In [12]:
outlet_size_large.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Type,Item_Outlet_Sales
0,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,Supermarket Type1,994.7052
1,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,Supermarket Type1,343.5528
2,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,Supermarket Type1,1977.4260
3,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,Supermarket Type1,3775.0860
4,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013,Supermarket Type1,308.9312
5,FDK43,9.800,Low Fat,0.026818,Meat,126.0020,OUT013,Supermarket Type1,2150.5340
6,FDL50,12.150,Regular,0.042278,Canned,126.5046,OUT013,Supermarket Type1,373.5138
7,FDM40,10.195,Low Fat,0.159804,Frozen Foods,141.5154,OUT013,Supermarket Type1,850.8924
8,FDR13,9.895,Regular,0.028697,Canned,117.0492,OUT013,Supermarket Type1,810.9444
9,FDL12,15.850,Regular,0.121532,Baking Goods,59.2220,OUT013,Supermarket Type1,599.2200

In [13]:
all_dataframes = [outlet_size_small, outlet_size_medium, outlet_size_large]

In [14]:
data = pd.concat(all_dataframes, axis=0)

In [15]:
data.shape

(6113, 9)

In [16]:
data.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Type,Item_Outlet_Sales
0,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,Supermarket Type1,2187.1530
1,FDS46,17.600,Regular,0.047257,Snack Foods,119.6782,OUT046,Supermarket Type1,2145.2076
2,FDP49,9.000,Regular,0.069089,Breakfast,56.3614,OUT046,Supermarket Type1,1547.3192
3,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,Supermarket Type1,2748.4224
4,NCB30,14.600,Low Fat,0.025698,Household,196.5084,OUT035,Supermarket Type1,1587.2672
5,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,Grocery Store,214.3876
6,FDR28,13.850,Regular,0.025896,Frozen Foods,165.0210,OUT046,Supermarket Type1,4078.0250
7,FDV10,7.645,Regular,0.066693,Snack Foods,42.3112,OUT035,Supermarket Type1,1065.2800
8,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,Grocery Store,125.8362
9,DRH01,17.500,Low Fat,0.097904,Soft Drinks,174.8738,OUT046,Supermarket Type1,2085.2856

In [17]:
sample_dataframe = pd.DataFrame({
    'roll_no' : [102, 101, 104, 103, 105],
    'name' : ['Denis', 'Stella', 'Winfrida', 'Deus', 'Suzana'],
    'grade' : ['A', 'B', 'A', 'C', 'C'],
    'marks' : [25, 19, 22, 10, 13],
    'city' : ['Ubungo', 'Masasi', 'Pwani', 'Temeke', 'Kigamboni']
})

sample_dataframe

   roll_no      name grade  marks       city
0      102     Denis     A     25     Ubungo
1      101    Stella     B     19     Masasi
2      104  Winfrida     A     22      Pwani
3      103      Deus     C     10     Temeke
4      105    Suzana     C     13  Kigamboni

In [18]:
phone_no = pd.DataFrame({'phone_no' : [212202, 202021, 212334, 213431, 211721]})

phone_no

   phone_no
0    212202
1    202021
2    212334
3    213431
4    211721

In [19]:
combined = pd.concat([sample_dataframe, phone_no], axis=1)

combined

   roll_no      name grade  marks       city  phone_no
0      102     Denis     A     25     Ubungo    212202
1      101    Stella     B     19     Masasi    202021
2      104  Winfrida     A     22      Pwani    212334
3      103      Deus     C     10     Temeke    213431
4      105    Suzana     C     13  Kigamboni    211721